// Display Flex
@mixin flex ($flex-direction: column, $flex-justify: center, $gap: 1rem) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: center;
    justify-content: $flex-justify;
    gap: $gap;
}

// Pseudo Elements
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

// Responsive design
@mixin screen($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// Centering
@mixin center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}