// *** Colors ***
// Brand Colors
$primary-color: #2c3e50;

// Sate Colors
$success-color: #34b36a;
$fail-color: #ea6254;
$warning-color: #eadb54;

// Training Colors
$run-color: #f39c12;
$walk-color: #e77a3c;
$cycle-color: #1abc9c;
$swim-color: #9b59b6;
$other-color: #75bc1a;

// TODO fix color naming
$main-text-color: #2c3e50;
$highlight-color: #ecf0f1;
$light-text-color: #95a5a6;

$success-text-color: #27ae60;
$fail-text-color: #e74c3c;

// Button Colors
$training-graph-button-color: rgba(255, 255, 255, 0.5);
$button-background-color: #ffffff;
$button-highlight-background-color: #bdc3c7;
$button-highlight-background-color-highlight: #b6bcc0;

// Gradients
$main-menu-gradient: linear-gradient(180deg, #ffffff 0%, #ecf0f1 40%);
$run-menu-gradient: linear-gradient(180deg, #f39c12 0%, #e67e22 100%);
$walk-menu-gradient: linear-gradient(180deg, #e74c3c 0%, #c0392b 100%);
$cycle-menu-gradient: linear-gradient(180deg, #1abc9c 0%, #16a085 100%);
$swim-menu-gradient: linear-gradient(180deg, #9b59b6 0%, #8e44ad 100%);
$other-menu-gradient: linear-gradient(180deg, #34495e80 0%, #2c3e5080 100%);

// Box Shadows
$main-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

// *** Fonts ***
// Weights
$normal-weight: 400;
$bold-weight: 700;

// Sizes
$heading-1: 4.8rem;
$heading-2: 4rem;
$heading-3: 3.2rem;
$heading-4: 2.4rem;
$heading-5: 2rem;

$t-xl: 2rem;
$t-l: 1.8rem;
$t-m: 1.6rem;
$t-s: 1.4rem;

// TODO fix font size naming
$text-xxxl: 3.5rem;
$text-xxl: 2.8rem;
$text-xl: 2.4rem;
$text-lg: 2rem;
$text-md: 1.8rem;
$text-sm: 1.6rem;
$text-xs: 1.35rem;

// *** Other ***
// Border Radius
$main-radius: 11px;

// Widths
// TODO Redo widths
$small-button-size-width: 4.6rem;
$standard-button-size-width: 6rem;
$long-button-size-width: 21rem;
$manipulation-button-size-width: 15rem;

$popup-size-width: 59rem;
$status-size-width: 28rem;

$icon-button: 6rem;
