.add-file {
  opacity: 0;
  visibility: hidden;

  transition: all 300ms ease-in;

  position: relative;

  width: 50vw;
  height: 60vh;

  @include center();

  background-color: #fff;

  border-radius: $main-radius;

  box-shadow: $main-shadow;

  color: $primary-color;

  padding: 4rem;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &::after {
    @include pseudo();
    @include center();

    width: 100vw;
    height: 100vh;

    background-color: transparent;

    z-index: -1;
  }

  &-content {
    height: 100%;
  }

  &-top-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    font-size: $heading-3;
  }

  &-drop-container {
    text-align: center;

    margin-top: 4rem;
    padding: 5rem;

    border-radius: $main-radius;
    border: dotted $light-text-color 2px;

    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;

    &-icon {
      width: 10rem;
      height: 10rem;

      color: $button-highlight-background-color;
    }

    &-title {
      font-size: $t-m;
      color: $light-text-color;
      font-weight: $normal-weight;

      margin-top: 2rem;
    }

    &-description {
      font-size: $text-xs;
      color: $light-text-color;
      font-weight: $normal-weight;

      margin-top: 1rem;
      margin-bottom: 14rem;
    }

    &-input {
      width: 100%;
      height: 100%;

      position: absolute;

      color: transparent;

      user-select: none;

      cursor: pointer;

      &::file-selector-button {
        visibility: hidden;
      }

      &::before {
        @include pseudo(block, absolute, 'Select Files');
        bottom: 25%;
        left: 50%;
        transform: translateX(-50%);

        background-color: $button-highlight-background-color;

        border: none;
        border-radius: $main-radius;

        box-shadow: $main-shadow;

        color: $primary-color;
        font-size: $t-m;

        text-align: center;

        transition: background-color 300ms ease-in-out;

        padding: 1rem 0;

        width: $long-button-size-width;

        cursor: pointer;
      }

      &:hover::before {
        background-color: $button-highlight-background-color-highlight;
      }
    }
  }
}
