// TODO rework buttons

.btn {
  border: none;

  position: relative;

  @include flex(row, space-between, 6.4rem);

  background-color: $button-background-color;

  box-shadow: $main-shadow;

  border-radius: $main-radius;

  padding: 1rem 2.5rem;

  width: $standard-button-size-width;
  height: $standard-button-size-width;

  cursor: pointer;

  transition: transform 300ms ease-in;

  &:not(.transitioning):hover {
    transform: scale(0.97);
  }

  &-icon {
    @include center;

    color: $main-text-color;

    width: 2.5rem;
    height: 2.5rem;
  }

  &-text {
    font-size: $text-md;
  }

  &-small {
    @extend .btn;
    max-width: $small-button-size-width;
    max-height: $small-button-size-width;
  }
}

// TODO make responsive
#open-upload.move {
  transform: translateX(800%);
}
