// TODO rework buttons

.btn {
  border: none;

  position: relative;

  @include flex(row, space-between, 6.4rem);

  background-color: $button-background-color;

  box-shadow: $main-shadow;

  border-radius: $main-radius;

  cursor: pointer;

  transition: transform 300ms ease-in;

  &:hover {
    transform: scale(0.97);
  }

  &-icon {
    @include center;

    color: $primary-color;

    width: 2.5rem;
    height: 2.5rem;
  }

  &-text {
    font-size: $t-m;
  }

  &-small {
    @extend .btn;
    width: $icon-button !important;
    height: $icon-button !important;
  }
}
