.menu {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-100%);

  background: $main-menu-gradient;

  border-top-right-radius: $main-radius;
  border-bottom-right-radius: $main-radius;

  box-shadow: $main-shadow;

  height: 95vh;
  width: 30%;

  transition: all 300ms ease-in;

  z-index: 1;

  &.active {
    transform: translateY(-50%);
  }

  #close-menu {
    position: absolute;
    top: 2%;
    right: 4%;

    z-index: 100;
  }

  &-header {
    margin: 0 4rem;

    color: $main-text-color;

    &-title {
      font-weight: $bold-weight;
      font-size: $text-xxxl;

      margin-bottom: 2.5rem;
    }

    &-controls {
      @include flex(row, space-between, 0);
    }

    &-btns {
      @include flex(row, center, 2rem);

      .sort,
      .filter {
        height: 4rem;
        width: 100%;

        padding: 2rem 1rem 2rem 4rem;

        color: inherit;
        font-size: $text-xs;
      }

      .btn-icon {
        left: 30%;

        color: inherit;

        width: $text-sm;
      }
    }

    .search-container {
      #search-training {
        width: $long-button-size-width;
        height: 4rem;

        font-size: $text-xs;
      }

      .search-icon {
        width: $text-sm;
        right: 6%;
      }
    }
  }
}
