.search-container {
  position: relative;

  .search {
    width: $long-button-size-width * 2;
    height: $small-button-size-width;

    border-radius: $main-radius;

    box-shadow: $main-shadow;

    padding: 2rem;

    font-size: $text-md;

    &::placeholder {
      color: $main-text-color;
    }

    &:focus {
      outline: none;
    }
  }

  .search-icon {
    position: absolute;
    top: 20%;
    right: 3%;

    color: $main-text-color;

    width: 2.5rem;
    height: 2.5rem;
  }

  .search-options {
    position: absolute;

    background-color: #fff;

    margin-top: 1.5rem;
    padding: 1rem;

    border-radius: $main-radius;

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .search-option {
      color: $main-text-color;

      border-radius: $main-radius;

      padding: 1rem;

      @include flex(row, start, 1rem);

      cursor: pointer;

      &:not(.disabled):hover {
        background-color: $light-gray-color;
      }

      &-text-country {
        color: $extra-light-text-color;
        font-size: $text-sm;
      }
    }
  }
}
