.search-container {
  position: relative;

  .search {
    width: $long-button-size-width * 2;
    height: $small-button-size-width;

    border-radius: $main-radius;

    box-shadow: $main-shadow;

    padding: 2rem;

    font-size: $text-sm;

    &::placeholder {
      color: $main-text-color;
    }

    &:focus {
      outline: none;
    }
  }

  .search-icon {
    position: absolute;
    top: 20%;
    right: 3%;

    color: $main-text-color;

    width: 2.5rem;
    height: 2.5rem;
  }

  .search-options {
    // TODO Developp the search place UI
    opcaity: 0;
    visibility: hidden;

    position: absolute;

    background-color: #fff;

    margin-top: 1.5rem;
    padding: 1rem;

    border-radius: $main-radius;

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .search-option {
      color: $main-text-color;
      font-size: $text-sm;

      border-radius: $main-radius;

      padding: 1rem;

      @include flex(row, flex-start, 1rem);
      align-items: baseline;

      cursor: pointer;

      &:not(.disabled):hover {
        background-color: $highlight-color;
      }

      &-text-country {
        color: $light-text-color;
        font-size: $text-xs;
      }
    }
  }
}

// TODO add box shadow to results container
